*{
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
  font-family: 'Poppins', sans-serif;
}
.LogInContainer{
  border: 2px solid #2e588b;
  width: 80%;
  border-width: 1px;
  
}
.LogInContainer h2, .LogInContainer h4, .LogInContainer input, .LogInContainer button,
#createUserForm h2, #createUserForm h4, #createUserForm input, #createUserForm button{
  padding: 2%;
  margin: 2%;
  width: 90%;
  border-width: 1px;
  text-align: center;
}
.loginButtons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 250px;
}

.Tittler{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

button{
  border-radius: 4px;
  padding: 5px;
}

@media screen and (min-width: 1374px){
  .LogInContainer, .registerContainer{
    border: 2px solid #2e588b;
    width: 20%;
    border-width: 1px;
    padding: 1%;
  }
  .LogInContainer h2, .LogInContainer h4, .LogInContainer input, .LogInContainer button,
  #createUserForm h2, #createUserForm h4, #createUserForm input, #createUserForm button
  {
    padding: 2%;
    margin: 2%;
    width: 80%;
    border-radius: 4px;
  }
  .Tittler{
   text-align: center;
    margin-top: 5%;
     margin-bottom: 2%;
  }
}

.LogInContainer, .registerContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #2e588b;
  border-radius: 25px;
  width: 300px;
  padding-top:45px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 60px;
}
@media screen and (max-width: 500px) {
  .LogInContainer, .registerContainer{
    width: 90%;
    padding-top:5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    margin-top: 20%;

  }
}

#createUserForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #2e588b;
  border-radius: 25px;
  width: 100%;
}

.Center{
  text-align: center;
}
.LogInContainer button, #createUserForm button{
  color: white;
  background-color: #2e588b;
  border-radius: 4px;
  padding: 4%;
}
.loginBackRound{
  background-color: #304861;
}


.farge1{
color: #1e68b6;
}
.farge2{
color: #2e588b;
}
.farge3{
color: #006ce0;
}
.farge4{
color: #304861;
}
.farge5{
color: #242D36;
}
.farge6{
color: #2B2F33;
}

.adminUser{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
}

#create-job-card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #006ce0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000;
  width: auto;
}

#create-job-card:hover {
  background-color: #1e68b6;
}

.adminUsers {
  display: flex;
}


.adminRoleList {
  display: flex;
}

.adminUsersControlSection select, .adminUsersControlSection button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  width: calc(100% - 10px);
}

.adminUpdate{
  border: 2px solid #2e588b;
  background-color: #304861;
  padding: 20px;
  text-align: center;

}

.adminSearchUser {
  display: flex;
}

.adminSearchUser label {
  width: 200px;
  align-self: center;
}

.adminSearchUser button {
  width: 200px;
  height: 50px;
  align-self: center;
}

.adminSearchUser input {
  margin: 50px;
  padding: 10px;
}


.adminUsersControlSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.adminUpdate h2{
  text-align: center;
  color: #ffffff;
}

.adminCreate label{
  color: white;
}

.adminUserList {
  width: 100%;
}

.adminUserListSelect {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1374px){

  .adminUsers{
    flex-direction: column;
  }

  .adminSearchUser input{
    margin: 0px;
  }
}

/* Changes to navbar here */
/* burger menu */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #203e5c; 
  padding: 1rem 2rem;
  position: relative;
  z-index: 1000;
}

.logo a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}

.nav-links {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;           
  display: block;            
  border-radius: 10px;       
  transition: background 0.3s ease;  
  
}

.nav-links li a:hover {
    background: #1E68B6;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 3px; /* keeps the X in check, DONT CHANGE THIS*/
  cursor: pointer;
  z-index: 1001;
}

.burger .line1,
.burger .line2,
.burger .line3 {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* Burger animation to X */
.burger.toggle .line1 {
  transform: rotate(45deg) translate(4px, 4px);
}
.burger.toggle .line2 {
  opacity: 0;
}
.burger.toggle .line3 {
  transform: rotate(-45deg) translate(4px, -4px);
}

@media screen and (max-width: 768px) {
  .nav-links {
    z-index: 1001;
    flex-direction: column;
    align-items: flex-start;
    background: #203e5c; 
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    padding: 4rem 2rem;
    gap: 2rem;
    transition: right 0.3s ease-in-out;
    
  }

  .nav-links.active {
    right: 0;
  }

  .burger {
    display: flex;
  }
}
